div.menu-top {
  margin: 0;
  font-size: 80% /*smaller*/;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height:36px;
  
  background: #012A43 opac;
  color: white;
  font-family: Arial, sans-serif;
}
div.menu-top #menu-top-widht{
	margin: 0;
  	padding: 3px;
  	border-top: none;
}
div.menu-left{
	float: left;
	border-left:5px #FFF;
	padding: 0 10px 0 0;
}
div.menu-right{
	float: right;
}

div.menu-top a:first-child { border-top: none }
div.menu-top em { color: #CFC }

div.menu-top a:link { text-decoration: none; color: white }
div.menu-top a:visited { text-decoration: none; color: #CCC }
div.menu-top a:hover { background: black; color: white }